.site-main{
margin-top : 30px;
margin-bottom : 30px;
}

.primary{
	@include span-columns(12,12);
	@include at-breakpoint($medium){
		@include span-columns(8,12);
	}
	div.article-body{
		@extend .def-box-shadow;
		background-color : $white;
		padding : 20px;
	}
	.slider-pro.gallery-slideshow{
		@extend .def-box-shadow;
	}
}
.property-meta{
	@extend .def-box-shadow;
	background-color: $white;
	overflow : hidden;
	margin-bottom : 20px;
	ul{ 
		@include span-columns(12,12);
		@include at-breakpoint($medium){
			@include span-columns(8,12);
		}
		padding : 0 10px;
		li{
		
			display : inline-block;
			padding : 10px;
			color : $grey3;
			i{
				margin-right : 1px;
			}
		}
	}
	span.property-price{
		@include span-columns(12,12);
		@include at-breakpoint($medium){
			@include span-columns(4 omega,12);
		}
		color : $grey3;
		text-align : right;
		display : inline-block;
		padding : 10px 10px;
		i{
			margin-right : 2px;
		}

	}
}
.rent span.property-price strong{
	color : $rent;
}
.secondary{
	@include span-columns(12,12);
	@include at-breakpoint($medium){
		@include span-columns(4 omega,12);
	}
	aside.widget{
		display: block;
		overflow : hidden;
		@extend .def-box-shadow;
		background-color: $white;
		width : 100%;
		margin-bottom : 20px;
		padding : 10px;
		&.accordion{
			padding:0px;
			.ui-widget-content {
			    background: none;
			    background-color: $rent;
			    @include border-radius(0px);
			    border : 0px;
			    fillSpace: true;
			    padding : 5px;
			    form{
			    	background-color: $white;
			    	color : $grey3;
			    	padding : 10px;
			    	input,textarea{
			    		width : 100%;
			    		margin-bottom : 10px;
			    		padding : 6px 10px;
			    		@include border-radius(3px);

			    		font-size : 90%;
			    	}
			    	label{
			    		display: inline-block;
			    		font-size : 70%;
			    		margin-bottom : 10px;
			    	}
			    	textarea {
						@include border-box-sizing;
			    		width : 100%;
			    	}
			    	input[type="button"]{
			    		padding : 5px 10px;
			    		width : auto;
			    		background-color:$navy;
			    		color : $white;
			    	}
			    	input.qty{
			    		width : 70%;
			    		@include border-right-radius(0px);
			    	}
			    	span.qty-desc{
			    		display : inline-block;
			    		background-color: $grey1;
			    		padding : 5px;
			    		@include border-right-radius(3px);

			    	}
			    }
			    p.phone-no{
			    	@extend .first-color;
			    	background-color: $white;
			    	font-size : 140%;
			    	padding : 15px 10px;
			    	text-align: center;
			    	margin : 5px;
			    }
			}
			.ui-accordion-header,.ui-state-active{
				background : none;
				@extend .first-back;
				// background-color: $rent !important;
				// color : $white;
				padding : 15px 10px 15px 30px;
				border : 0px;
				margin-top: -1px;
				outline : none;
				border-top : 1px solid $white;

				font-weight: normal;
				@include border-radius(0px);
				&:first-child{
					border: 0px;
				}
				i{
					margin-right : 20px;
				}
				.ui-state-active{
					border : 0px;
				}
			}
		}
		.avatar-wrapper{
			@include span-columns(4 ,12);
			img {
				max-width : 100%;
			}
		}
		.user-meta{
			padding : 5px;
			padding-top : 0px;
			@include span-columns(8 omega,12);
			strong{
				font-weight: normal;
				font-size : 110%;
			}	
			span{
				color : $grey3;
				font-size : 90%;
			}
			.blue-back{
				background-color: $blue2;
				color : $white;
				@include border-bottom-left-radius(10px);
				font-weight : bold;
				padding : 6px 10px;
				font-size: 110%;
				margin-top : 5px;
				display: inline-block;
			}
			.red-back{
				background-color: darken($red , 5%);
				color : $white;
				@include border-top-right-radius(10px);
				font-weight : bold;
				padding : 6px 10px;
				font-size: 110%;
				margin-top : 5px;
				display: inline-block;



			}
			.meta-blue{
				font-size : 60%;
				color : $blue;
			}
			.meta-red{
				@extend .first-color;
				font-size : 60%;

			}
		}


	}
}

.properties{
	h3{
		text-align : center;
		i{
			margin-right : 5px;
			font-size  : 120%;
		}
	}
	div.property {
		width : 18.4%;
		margin-right : 2%;
		float : left;
		@extend .def-box-shadow;
		background-color: $white;
		overflow : hidden;
		&:last-child{
			margin-right : 0px;
		}
	}
}